#!/bin/sh
alias a='alias'
alias c='clear'

alias run-spec='bundle exec rspec spec/'

alias git-diffc='git diff --cached'
alias git-conflicts='git diff --name-only --diff-filter=U'
alias git-reset-1='git reset --soft HEAD~1'
alias git-ignore='git update-index --assume-unchanged $1'
alias git-clean='git clean -fd'
