.vim/plugged
.vim/.netrwhist

tmux-client-*.log
.DS_STORE
.local/share/
.gitconfig
Brewfile.lock.json

.asdf/installs/
.asdf/plugins/
.asdf/shims/
.asdf/repository/
.asdf/tmp/

.vim/autoload/plug.vim
