[color]
  ui = true
[user]
  name = darwin christopher tantuco
  email = darwinxciii@yahoo.com
[core]
  editor = vim
  excludesfile = .gitignore_global
[branch]
  autosetuprebase = always
[alias]
  pull = pull --rebase
[diff]
  tool = vimdiff
[merge]
  tool = vimdiff
[git-protecc]
  global = off
  pre-push = on
  pre-commit = on
  branch = master
  branch = develop
